// Menu
.menu-list {
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  padding: 8px 0px;
  width: 223px;
  margin: 0;
  .menu-item {
    margin: 0px;
  }
}

.menu-popper {
  padding-bottom: 8px;
}

.menu-item {
  display: inline-block;
  width: 100%;
  padding: 11px 8px 11px 16px;
  text-align: start;
  border-radius: 0;
  line-height: 1.8rem;
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

//Header
.header {
  margin-top: -8px;
  position: relative;
  height: 50px;
}

.back-btn {
  float: left;
  width: 48px;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header-title {
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}
