.wrapper {
    display: flex;
    flex-direction: column;
    
}

.container {
    width: 100%;
    min-height: 1000px;
    background: var(--background-default);
    display: flex;

}

.content {
    min-width: 420px;
    flex: 1 1 0%;  
}